{% extends "base.html" %}
{% block mainbody %}
    <form class="layui-form layui-form-pane" action="{% url 'api_document' %}">
        <input type="text" name="id" placeholder="" autocomplete="off" class="layui-input layui-hide">
        <div class="api-box-top">
            <a class="layui-btn layui-btn-small layui-btn-primary" href="{% url 'api_manage' %}"><i class="layui-icon">&#xe603;</i>返回列表</a>
            <button class="layui-btn layui-btn-small layui-btn-normal" lay-submit lay-filter="api_continue">继续添加</button>
            <button class="layui-btn layui-btn-small layui-btn-normal" lay-submit lay-filter="api_add">保存</button>
        </div>
        <div class="form-div">
            <div class="api-basic">
                <div class="layui-form-item api-form-item">
                    <label class="layui-form-label api-form-label">分组</label>
                    <div class="api-form-inline layui-input-inline" style="width: 150px">
                        <select name="project_id" lay-filter="project"><option value=""></option></select>

                    </div>
                    <div class="layui-input-inline api-form-inline">
                        <select name="group_id"></select>
                    </div>
                </div>
                <div class="layui-form-item api-form-item">
                    <label class="layui-form-label api-form-label">状态</label>
                    <div class="layui-input-inline api-form-inline" style="width: 100px">
                        <select name="state">
                            <option value="0">启用</option>
                            <option value="1">禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item api-form-item">
                    <label class="layui-form-label api-form-label">URI</label>
                    <div class="layui-input-inline api-form-inline" style="width: 100px">
                        <select name="protocol">
                            <option value="0">HTTP</option>
                            <option value="1">HTTPS</option>
                        </select>
                    </div>
                    <div class="layui-input-inline api-form-inline" style="width: 100px">
                        <select name="method">
                            <option value="0">POST</option>
                            <option value="1">GET</option>
                        </select>
                    </div>
                    <div class="layui-input-inline api-form-inline" style="width: calc(100% - 307px)">
                        <input type="text" name="path" required lay-verify="required" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item api-form-item">
                    <label class="layui-form-label api-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="api_name" required lay-verify="required" placeholder=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="api-param">
                <div class="api-request-param">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">请求头</li>
                            <li>URI参数</li>
                            <li>Qurey参数</li>
                            <li>Body参数</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <a class="layui-btn layui-btn-small layui-btn-normal">导入头部</a>
                                <table class="api-headers-table">
                                    <thead>
                                    <tr>
                                        <td style="width: 210px">标签</td>
                                        <td>内容</td>
                                        <td style="width: 200px">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select name="header_key" lay-search>
                                                <option value=""></option>
                                                <option value="Accept">Accept</option>
                                                <option value="Accept-Charset">Accept-Charset</option>
                                                <option value="Accept-Encoding">Accept-Encoding</option>
                                                <option value="Accept-Language">Accept-Language</option>
                                                <option value="Accept-Ranges">Accept-Ranges</option>
                                                <option value="Authorization">Authorization</option>
                                                <option value="Cache-Control">Cache-Control</option>
                                                <option value="Connection">Connection</option>
                                                <option value="Cookie">Cookie</option>
                                                <option value="Content-Length">Content-Length</option>
                                                <option value="Content-Type">Content-Type</option>
                                                <option value="Content-MD5">Content-MD5</option>
                                                <option value="Date">Date</option>
                                                <option value="Expect">Expect</option>
                                                <option value="From">From</option>
                                                <option value="Host">Host</option>
                                                <option value="If-Match">If-Match</option>
                                                <option value="If-Modified-Since">If-Modified-Since</option>
                                                <option value="If-None-Match">If-None-Match</option>
                                                <option value="If-Range">If-Range</option>
                                                <option value="If-Unmodified-Since">If-Unmodified-Since</option>
                                                <option value="Max-Forwards">Max-Forwards</option>
                                                <option value="Origin">Origin</option>
                                                <option value="Pragma">Pragma</option>
                                                <option value="Proxy-Authorization">Proxy-Authorization</option>
                                                <option value="Range">Range</option>
                                                <option value="Referer">Referer</option>
                                                <option value="TE">TE</option>
                                                <option value="Upgrade">Upgrade</option>
                                                <option value="User-Agent">User-Agent</option>
                                                <option value="Via">Via</option>
                                                <option value="Warning">Warning</option>
                                            </select>
                                        </td>
                                        <td><input type="text" name="header_value" placeholder="" autocomplete="off"
                                                   class="layui-input clicked"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-tab-item">
                                <table class="api-uri-table">
                                    <thead>
                                    <tr>
                                        <td style="width: 210px">参数名</td>
                                        <td style="width: 500px">描述</td>
                                        <td>示例</td>
                                        <td style="width: 200px">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" name="uri_key" placeholder="" autocomplete="off"
                                                   class="layui-input clicked"></td>
                                        <td><input type="text" name="uri_description" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td><input type="text" name="uri_sample" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-tab-item">
                                <table class="api-query-table">
                                    <thead>
                                    <tr>
                                        <td style="width: 210px;">参数名</td>
                                        <td>描述</td>
                                        <td style="width: 30px;">必填</td>
                                        <td>示例</td>
                                        <td style="width: 200px;">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" name="query_key" placeholder="" autocomplete="off"
                                                   class="layui-input clicked"></td>
                                        <td><input type="text" name="query_description" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td style="border: 1px solid #e5e5e5;"><input type="checkbox" name="query_required" lay-skin="primary" checked></td>
                                        <td><input type="text" name="query_sample" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-tab-item">
                                <table class="api-body-table">
                                    <thead>
                                    <tr>
                                        <td style="width: 210px;">参数名</td>
                                        <td>描述</td>
                                        <td style="width: 30px;">必填</td>
                                        <td style="width: 100px;">类型</td>
                                        <td>示例</td>
                                        <td style="width: 200px;">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" name="body_key" placeholder="" autocomplete="off"
                                                   class="layui-input clicked"></td>
                                        <td><input type="text" name="body_description" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td style="border: 1px solid #e5e5e5;"><input type="checkbox" name="body_required" lay-skin="primary" checked></td>
                                        <td><select name="body_type" lay-search><option value=""></option></select></td>
                                        <td><input type="text" name="body_sample" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="api-response-param">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">返回参数</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <table class="api-response-table">
                                    <thead>
                                    <tr>
                                        <td style="width: 210px;">参数名</td>
                                        <td>描述</td>
                                        <td style="width: 30px;">必填</td>
                                        <td style="width: 100px;">类型</td>
                                        <td>示例</td>
                                        <td style="width: 200px;">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="text" name="response_key" placeholder="" autocomplete="off"
                                                   class="layui-input clicked"></td>
                                        <td><input type="text" name="response_description" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td style="border: 1px solid #e5e5e5;"><input type="checkbox" name="response_required" lay-skin="primary" checked></td>
                                        <td>
                                            <select name="response_type" lay-search>
                                                <option value=""></option>
                                            </select>
                                        </td>
                                        <td><input type="text" name="response_sample" placeholder="" autocomplete="off"
                                                   class="layui-input"></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="api-response-sample">
                        <div class="layui-tab layui-tab-card">
                            <ul class="layui-tab-title">
                                <li class="layui-this">成功示例</li>
                                <li>失败示例</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <textarea name="success_response_sample"  placeholder="" class="layui-textarea" style="height: 300px;"></textarea>
                                </div>
                                <div class="layui-tab-item">
                                    <textarea name="failed_response_sample" placeholder="" class="layui-textarea" style="height: 300px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        layui.use(['form', 'element', 'table','layer'], function () {
            var table = layui.table, form = layui.form, element = layui.element,layer = layui.layer;
            var i=0;
            //请求头
            $("table.api-headers-table").on("click", "input.clicked", function () {
                var txt = "<tr>" +
                    "<td><select name=\"header_key"+i+"\" lay-search>" +
                    "<option value=\"\"></option>" +
                    "<option value=\"Accept\">Accept</option>\n" +
                    "<option value=\"Accept-Charset\">Accept-Charset</option>\n" +
                    " <option value=\"Accept-Encoding\">Accept-Encoding</option>\n" +
                    "<option value=\"Accept-Language\">Accept-Language</option>\n" +
                    "<option value=\"Accept-Ranges\">Accept-Ranges</option>\n" +
                    "<option value=\"Authorization\">Authorization</option>\n" +
                    "<option value=\"Cache-Control\">Cache-Control</option>\n" +
                    "<option value=\"Connection\">Connection</option>\n" +
                    "<option value=\"Cookie\">Cookie</option>\n" +
                    "<option value=\"Content-Length\">Content-Length</option>\n" +
                    "<option value=\"Content-Type\">Content-Type</option>\n" +
                    "<option value=\"Content-MD5\">Content-MD5</option>\n" +
                    "<option value=\"Date\">Date</option>\n" +
                    "<option value=\"Expect\">Expect</option>\n" +
                    "<option value=\"From\">From</option>\n" +
                    "<option value=\"Host\">Host</option>\n" +
                    "<option value=\"If-Match\">If-Match</option>\n" +
                    "<option value=\"If-Modified-Since\">If-Modified-Since</option>\n" +
                    "<option value=\"If-None-Match\">If-None-Match</option>\n" +
                    "<option value=\"If-Range\">If-Range</option>\n" +
                    "<option value=\"If-Unmodified-Since\">If-Unmodified-Since</option>\n" +
                    "<option value=\"Max-Forwards\">Max-Forwards</option>\n" +
                    "<option value=\"Origin\">Origin</option>\n" +
                    "<option value=\"Pragma\">Pragma</option>\n" +
                    "<option value=\"Proxy-Authorization\">Proxy-Authorization</option>\n" +
                    "<option value=\"Range\">Range</option>\n" +
                    "<option value=\"Referer\">Referer</option>\n" +
                    "<option value=\"TE\">TE</option>\n" +
                    "<option value=\"Upgrade\">Upgrade</option>\n" +
                    "<option value=\"User-Agent\">User-Agent</option>\n" +
                    "<option value=\"Via\">Via</option>\n" +
                    "<option value=\"Warning\">Warning</option>" +
                    "</select></td>" +
                    "<td><input type=\"text\" name=\"header_value"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input clicked\"></td>" +
                    "<td></td></tr>";
                $("table.api-headers-table>tbody").append(txt);
                txt = "<a href=\"#\"><i class=\"layui-icon del\" style=\"font-size: 20px;\">&#xe640;</i></a>";
                $(this).parent().next().append(txt);
                $(this).removeClass("clicked");
                form.render();
                i=i+1;
            });

            //uri参数
            $("table.api-uri-table").on("click", "input.clicked", function () {
                var txt = "<tr>" +
                    "<td><input type=\"text\" name=\"uri_key"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input clicked\"></td>" +
                    "<td><input type=\"text\" name=\"uri_description"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td><input type=\"text\" name=\"uri_sample"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td></td></tr>";
                $("table.api-uri-table>tbody").append(txt);
                txt = "<a href=\"#\"><i class=\"layui-icon del\" style=\"font-size: 20px;\">&#xe640;</i></a>";
                $(this).parent().next().next().next().append(txt);
                $(this).removeClass("clicked");
                form.render();
                i=i+1;
            });

            //query参数
            $("table.api-query-table").on("click", "input.clicked", function () {
                var txt = "<tr>" +
                    "<td><input type=\"text\" name=\"query_key"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input clicked\"></td>" +
                    "<td><input type=\"text\" name=\"query_description"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td style=\"border: 1px solid #e5e5e5;\"><input type=\"checkbox\" name=\"query_required"+i+"\" lay-skin=\"primary\" checked></td>" +
                    "<td><input type=\"text\" name=\"query_sample"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td></td></tr>";
                $("table.api-query-table>tbody").append(txt);
                txt = "<a href=\"#\"><i class=\"layui-icon del\" style=\"font-size: 20px;\">&#xe640;</i></a>";
                $(this).parent().next().next().next().next().append(txt);
                $(this).removeClass("clicked");
                form.render();
                i=i+1;
            });

            //Body参数
            $("table.api-body-table").on("click", "input.clicked", function () {
                var txt = "<tr>" +
                    "<td><input type=\"text\" name=\"body_key"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input clicked\"></td>" +
                    "<td><input type=\"text\" name=\"body_description"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td style=\"border: 1px solid #e5e5e5;\"><input type=\"checkbox\" name=\"body_required"+i+"\" lay-skin=\"primary\" checked></td>" +
                    "<td><select name=\"body_type"+i+"\" lay-search>" +
                    "<option value=\"\"></option>" +
                    "</select></td>"+
                    "<td><input type=\"text\" name=\"body_sample"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td></td></tr>";
                $("table.api-body-table>tbody").append(txt);
                txt = "<a href=\"#\"><i class=\"layui-icon del\" style=\"font-size: 20px;\">&#xe640;</i></a>";
                $(this).parent().next().next().next().next().next().append(txt);
                $(this).removeClass("clicked");
                form.render();
                i=i+1;
            });

            //返回参数
            $("table.api-response-table").on("click", "input.clicked", function () {
                var txt = "<tr>" +
                    "<td><input type=\"text\" name=\"response_key"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input clicked\"></td>" +
                    "<td><input type=\"text\" name=\"response_description"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td style=\"border: 1px solid #e5e5e5;\"><input type=\"checkbox\" name=\"response_required"+i+"\" lay-skin=\"primary\" checked></td>" +
                    "<td><select name=\"response_type"+i+"\" lay-search><option value=\"\"></option></select></td>"+
                    "<td><input type=\"text\" name=\"response_sample"+i+"\" placeholder=\"\" autocomplete=\"off\" class=\"layui-input\"></td>" +
                    "<td></td></tr>";
                $("table.api-response-table>tbody").append(txt);
                txt = "<a href=\"#\"><i class=\"layui-icon del\" style=\"font-size: 20px;\">&#xe640;</i></a>";
                $(this).parent().next().next().next().next().next().append(txt);
                $(this).removeClass("clicked");
                form.render();
            });

            $("form").on("click",".del",function(){
                $(this).parent().parent().parent().remove();
            });

            //加载分组
            $.ajax({
                type:"get",
                url:"{% url 'project_query' %}",
                success:function(res){
                    var txt = "";
                    $.each(res.data,function(){
                        txt= txt + "<option value=\""+this.id+"\">"+this.project_name+"</option>"
                    });
                    $("select[name='project_id']").append(txt);
                    form.render();
                }
            });
            form.on('select(project)', function(data){
                $.ajax({
                    type:"get",
                    url:"{% url 'group_query' %}",
                    data:{'project_id':data.value},
                    success:function(res){
                        var txt = "";
                        $.each(res.data,function(){
                            txt= txt + "<option value=\""+this.id+"\">"+this.group_name+"</option>"
                        });
                        $("select[name='group_id']").empty();
                        $("select[name='group_id']").append(txt);
                        form.render();
                    }
                });
            });

            //保存
            form.on('submit(api_add)', function(data){
                 $.ajax({
                    type:"POST",
                    url:"{% url 'api_add' %}",
                    data:$("form").serialize(),
                    success: function (res) {
                        if (res.rowcount == 1) {
                            parent.parent.layer.msg("新增成功！");
                        }
                    },
                    error: function (jqXHR) {
                        layer.alert(jqXHR.responseText);
                    }
                });
            });

            //继续添加
            form.on('submit(api_continue)', function(data){
                 $.ajax({
                    type:"POST",
                    url:"{% url 'api_add' %}",
                    data:$("form").serialize(),
                    success: function (res) {
                        if (res.rowcount == 1) {
                            parent.parent.layer.msg("新增成功！");
                            $("form")[0].reset();
                        }
                    },
                    error: function (jqXHR) {
                        layer.alert(jqXHR.responseText);
                    }
                });
                 return false;
            });
        });
    </script>
{% endblock %}