<!DOCTYPE html>
<html style="height: 100%">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>xhg_TestAutomation</title>
  <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/static/build/css/app.css" media="all">
  <link rel="stylesheet" href="/static/build/css/login.css" media="all">
  <link rel="stylesheet" href="/static/build/css/project.css" media="all">
  <link rel="stylesheet" href="/static/build/css/territory.css" media="all">
    <link rel="stylesheet" href="/static/build/css/api.css" media="all">
  <script src="/static/plugins/layui/layui.js"></script>
  <script src="/static/build/js/jQuery.min.js"></script>
</head>
<body style="height: 100%">
{% block mainbody %}

<!--     页面内容填写       -->

<!--     页面内容填写       -->

{% endblock %}

</body>
</html>